<nav>
    <ul class="nav-list">
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/register">Register</NavLink></li>
        <li><NavLink href="/attendance">Attendance</NavLink></li>
    </ul>
</nav>
